@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1p", sans-serif;
}

body {
  background: #EEF0EB;
}

.dtp {
  color: #EDF6F9;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .1px;
  text-transform: uppercase;
  margin: auto;
}

.container {
  max-width: 700px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #153243;
  border-bottom: 3px solid #B4B8AB;
  box-shadow: 0 1px 10px rgba(0,0,0,0.60);
}

img {
  margin-left: auto;
  width: 50px;
  height: auto;
}

#logout {
  border: none;
  border-radius: 3px;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
}

.morning {
  text-align: center;
  font-size: 30px;
  color: #031927;
  margin-top: 90px;
}

.morning-table {
  height: 190px;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #153243;
  color: #EDF6F9;
}

th, td {
  padding: 15px 50px 15px 50px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #CFCFCF;
}