* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #153243;
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
}

.login-form {
  background: #EEF0EB;
  width: 500px;
  margin: 50px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

img {
  display: block;
  margin: -16px auto -38px auto;
  width: 30%;
}

.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}

.login-form .content {
  padding: 35px;
  text-align: center;
}

.login-form .input-field {
  padding: 12px 5px;
}

.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  background-color: #EEF0EB;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::placeholder {
  text-transform: uppercase;
}

.login-form .input-field input:focus {
  border-color: #222;
}

.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.login-form .action #submit {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #8FC0A9;
  color: #433E3F;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-form .action #submit:hover {
  background: #608875;
  color: #e6e6e6;
}